body {
    color: #000000; /* Preto para as letras */
    background: #f0f4f8; /* Azul claro */
    margin: 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #5d6d7e; /* Cinza médio */
    padding: 20px;
    font-size: 32px;
    color: #000000; /* Preto para o texto do header */
}

.chamada {
    background: #8e44ad; /* Roxo escuro */
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    color: #ffffff; /* Branco para o texto dentro da chamada */
}

h1 {
    font-size: 40px;
    color: #000000; /* Preto para o título */
}

p {
    font-size: 20px;
    color: #000000; /* Preto para parágrafos */
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.7; /* Menos opacidade para destacar as imagens */
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #76d7c4; /* Verde água suave */
}

.categoria h2 {
    color: #000000; /* Preto para os títulos das categorias */
}
